<!DOCTYPE html>

<html>
<head>

	<title>type-Capsule</title>
	<link href="stylesheets/open.css" rel="stylesheet" type="text/css">

</head>

<body>

	<main id="capsules">
	</main>

	<script src="javascripts/jquery-2.1.1.min.js"></script>
	<script src="javascripts/open.js"></script>
	<script src="javascripts/moment.js"></script>
	<script src="javascripts/readable-range.js"></script>
</body>

</html>
