@import url('landing.css');
@import url('fonts.css');

body  {

  width: 80%;

  margin: 0 auto;

}

h1  {

  color: #fff;
  background-color: #FF6867;
  padding: 20px 10px;

}

figure {

  float: left;
  text-align: center;
  vertical-align: middle;

}

figure img  {

  display: inline;

  border: 20px solid #ffca74;

}
