	article	{

		width: 100%;
		overflow: hidden;
		padding: 2px;
    font-family: 'Roboto', 'sans-serif';
	
	}

	article nav	{


	}

	article ul	{

		list-style: none;
		text-align: center;

	}

	article li	{

		display: inline;
		vertical-align: baseline;

	}

	article	div {

		float: left;	
		width: 33%;
		text-align: center;
	
	}

	main article:nth-child(even)	{

		background-color: #CCC;
	
	}

	main article:nth-child(odd)	{

		background-color: #BBB;
	
	}

	article p:first-child	{

		padding: 10px;		
	
	}

  #topBar {
    background-color: #ffb400; 
    height: 6.5em;
    line-height: 6.5em;
  }

  #topBar a {
    color: #000;
    text-decoration: none;
  }

  #topBar h1 {
    font-family: 'Oswald', 'sans-serif';
    letter-spacing: .07em;
    margin-left: 1em;
  }

